<div class="artist">
  <h1><%= @artist.name %></h1>
  <% @artist.albums.each do |album| %>
    <li><%= link_to album.title, edit_album_path(album) %></li>
  <% end %>
</div>
<br>

<!-- <h4>Add album</h4> -->


<%= link_to 'home', [:artists] %>
