<div class="album">
  <br>
  <li><%= @album.title %></li>
</div>
<br>

<%= link_to :edit, edit_album_path(@album) %>

<!-- <h4>Add A Song</h4> -->
<!-- url: artist_path(@album, @artist) -->
  <%# @artist ||= Artist.new %>
  <%# render "form" %>




<%= link_to 'home', [:albums] %>