.new_artist{
  background-color: lightgray;
  padding: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.edit_album {
  background-color: lightgray;
  padding: 40px;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}