.songs {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.song li{
  margin-top:20px;
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}

.song li a{
  margin-left: 20px;
}

.song {
  background-color: lightgray;
}